page-chat {

.footer {
    background-color: whitesmoke;
}
.item {
      background-color: rgba(88,175,252,0.5);
      -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
      border-radius: 20px;
      text-indent: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      
}

 ion-input {
     background-color: white;
     -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
      border-radius: 20px;
      text-indent: 20px;
 }

}
